.LoginPane {
    -fx-background-color: #23272a;
}

#title {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #99aab5;;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.label {
    -fx-text-fill: #99aab5;
    -fx-font-family: "Arial Black";
    -fx-font-size: 16px;
}

.text-field {
    -fx-background-color: #99aab5;
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-size: 15px;
}

.password-field {
    -fx-background-color: #99aab5;
}

#ErrorMessage {
    -fx-fill: red;
    -fx-font-size: 13px;
}

.button {
    -fx-background-color: #99aab5;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
}

